.data-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 80px;
    
  }
  .data-table th, .data-table td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  .progress-bar {
    background-color: #f3f3f3;
    border-radius: 5px;
    overflow: hidden;
    height: 10px;
    width: 100%;
    margin-top: 5px;
  }
  .progress {
    background-color: #4caf50;
    height: 100%;
  }